
$md-mdpblue: (
  50 : #e3e9ff,
  100 : #bac7ff,
  200 : #8ca2ff,
  300 : #5d7cff,
  400 : #3b60ff,
  500 : #1844ff,
  600 : #153eff,
  700 : #1135ff,
  800 : #0e2dff,
  900 : #081fff,
  A100 : #ffffff,
  A200 : #f4f5ff,
  A400 : #c1c5ff,
  A700 : #a7adff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

