.example-card {
  margin: 20px auto;
  width: 90%;
}

.tag {
  margin-top: 10px;
}

.tag span {
  background-color: #777;
  color: white;
  border-radius: 15px;
  padding: 5px 10px;
  font-size: 11px;
}